{% load static %}
  <!-- Footer Start -->
    <div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">Haberin</span> olsun</h1>
                </a>
                <p>Dünyada olup bitenden geri kalma, Haberin Olsun'a tıkla</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Kategoriler</h4>
                <div class="d-flex flex-wrap m-n1">
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Politika</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">İş hayatı</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Spor</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Sağlık</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Eğitim</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Bilim</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Teknoloji</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Yemek</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Eğlence</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Seyahat</a>
                    <a href="/news" class="btn btn-sm btn-outline-secondary m-1">Yaşam</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Etiketler</h4>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Politika</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">İş hayatı</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Spor</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Sağlık</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Eğitim</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Bilim</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Teknoloji</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Yemek</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Eğlence</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Seyahat</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Yaşam</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Hızlı Erişim</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-secondary mb-2" href="/hakkimizda"><i class="fa fa-angle-right text-dark mr-2"></i>Hakkımızda</a>
                    <a class="text-secondary mb-2" href="/referanslar"><i class="fa fa-angle-right text-dark mr-2"></i>Referanslar</a>
                    <a class="text-secondary" href="/iletisim"><i class="fa fa-angle-right text-dark mr-2"></i>İletişim</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center">
            &copy; <a class="font-weight-bold" href="#">Haberin Olsun</a>. Her Hakkı Saklıdır.

			<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
			Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
    <!-- Footer End -->