{% extends "homebase.html" %}

{% block title %}{{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image' href='{{ setting.icon.url }}' />
{% endblock %}

{% block topnewsslider %}
   {% include 'topnewsslider.html' %}
{% endblock %}

{% block mainnewsslider %}
   {% include 'mainnewsslider.html' %}
{% endblock %}

{% block featurednewsslider %}
   {% include 'featurednewsslider.html' %}
{% endblock %}

{% block categorynewsslider1 %}
   {% include 'categorynewsslider1.html' %}
{% endblock %}

{% block categorynewsslider2 %}
   {% include 'categorynewsslider2.html' %}
{% endblock %}

{% block newswithslidebar %}
   {% include 'newswithslidebar.html' %}
{% endblock %}